# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directories
node_modules/

# Optional npm cache directory
.npm
.npmrc

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.*
!.env.example

# SvelteKit
.svelte-kit/
build/

# Mac files
.DS_Store

# Yarn
yarn-error.log
.pnp/
.pnp.js
.yarn-integrity

# Editor
.vscode/
.idea/
