h2
    include ../../svg/icons/education.svg
    = " "
    | Formations

ol
    li
        h3 Bachelor en Techniques Infographiques
        p Orientation WEB
        p
            strong TFE&nbsp;:&nbsp;
            = " "
            | fish in a pan, CMS et groupes de musique
        .time
            time( datetime="2004-09-01" ) 2004
            | -
            time( datetime="2007-06-30" ) 2007
        p
            abbr( title="Haute École de la Province de Liège" ) HEPL

    li
        h3 Psychologie et Sciences de l’Education
        p Première année
        .time
            time( datetime="2003-09-01" ) 2003
            | -
            time( datetime="2004-06-30" ) 2004
        p
            abbr( title="Université de Liège" ) ULg

    li
        h3 Humanités générales
        p Option sciences
        .time
            time( datetime="1997-09-01" ) 1997
            | -
            time( datetime="2003-06-30" ) 2003
        p
            abbr( title="Dames de l’Instruction Chrétienne" ) DIC
            = " "
            | Collège

h3 Distinctions

ol
    li
        h3
            abbr( title="Webdesign Festival International") WIF
            = " "
            | - Finale
        p
            | 2
            sup ème
            = " "
            | place, catégorie amateurs &amp; étudiants
        .time
            time( datetime="2006-02-01" ) février 2006
        p
            abbr( title="Webdesign Festival International" ) WIF
            |, Limoges, France
    li
        h3
            abbr( title="Webdesign Festival International" ) WIF
            = " "
            | - Préselections Nationales Belges
        p
            | 1
            sup ère
            = " "
            | place, catégorie amateurs &amp; étudiants
        .time
            time( datetime="2005-11-01" ) novembre 2005
        p
            abbr( title="Webdesign Festival International" ) WIF
            |, Limoges, France
