h2 À propos de moi…

dl
    dt Date de naissance
    dd( data-prefix="Né le" ) 8 mai 1985

    dt Adresse
    dd( data-prefix="Résidant à" ) Liège, Belgique

    dt( class="icon mail" )
        include ../../svg/icons/email.svg
        = " "
        | Mail&nbsp;:&nbsp;
    dd
        a( href="mailto:pierre-antoine@delnatte.be" ) pierre-antoine@delnatte.be

    dt( class="icon url" )
        include ../../svg/icons/website.svg
        = " "
        | URL&nbsp;:&nbsp;
    dd
        a( href="http://leny.me", rel="external" ) http://leny.me
