h2 À propos de moi…

dl
    dt( class="hidden" ) Date de naissance
    dd( data-prefix="Né le" ) 8 mai 1985

    dt( class="hidden" ) Adresse
    dd( data-prefix="Résidant à" ) Liège, Belgique

    dt( class="link mail" ) Mail&nbsp;:&nbsp;
    dd
        a( href="mailto:pierre-antoine@delnatte.be" ) pierre-antoine@delnatte.be

    dt( class="link url" ) URL&nbsp;:&nbsp;
    dd
        a( href="http://leny.me", rel="external" ) http://leny.me
