section#misc
    h2
        include ../../svg/icons/misc.svg
        = " "
        | Divers

    h3
        include ../../svg/icons/car.svg
        = " "
        | Motorisation
    p Maîtrise de la marche à pieds et des transports en commun

    h3
        include ../../svg/icons/hobbies.svg
        = " "
        | Centres d’intérêt
    p Nouvelles technologies, développement open-source, actualités, littérature, contre-culture
