section#identity
    h2 À propos de moi…

    dl
        dt Date de naissance
        dd( data-prefix="Né le" ) 8 mai 1985

        dt Adresse
        dd( data-prefix="Résidant à" ) Liège, Belgique

        dt( class="icon mail" )
            include ../../svg/icons/email.svg
            = " "
            | Mail&nbsp;:&nbsp;
        dd
            a( href="mailto:pierre-antoine@delnatte.be" title="Contactez-moi par mail" ) pierre-antoine@delnatte.be

        dt( class="icon url" )
            include ../../svg/icons/website.svg
            = " "
            | URL&nbsp;:&nbsp;
        dd
            a( href="http://leny.me" rel="external" title="Allez voir mon site perso" ) http://leny.me

        dt( class="icon github" )
            include ../../svg/icons/github.svg
            = " "
            | GitHub&nbsp;:&nbsp;
        dd
            a( href="https://github.com/leny" rel="external" title="Mon profil GitHub" ) leny

        dt( class="icon linkedin" )
            include ../../svg/icons/linkedin.svg
            = " "
            | LinkedIn&nbsp;:&nbsp;
        dd
            a( href="https://www.linkedin.com/in/padelnatte" rel="external" title="Mon profil LinkedIn" ) padelnatte
