section#languages
    h2
        include ../../svg/icons/languages.svg
        = " "
        | Langues

    dl
        dt Français
        dd Langue maternelle, maîtrise de l’orthographe et de la grammaire
        dt Anglais
        dd Connaissances moyennes, compréhension à la lecture, maîtrise du langage technique
        dt Néerlandais
        dd Bases
