section#projects
    h2
        include ../../svg/icons/projects.svg
        = " "
        | Projets Personnels

    dl
        dt
            a( href="http://kouto-swiss.io" rel="external" title="Visiter le site de Kouto Swiss" ) Kouto Swiss
        dd Framework Open-Source pour Stylus
        dt
            a( href="http://teseve.github.io" rel="external" title="Visiter le site de Tèsèvè" ) Tèsèvè
        dd Utilitaire Open-Source multiplateforme (Electron)
        dt
            a( href="https://cash-cache.com" rel="external" title="Visiter le site de Cash-Cache" ) Cash-Cache
        dd Application Web / Mobile (iOS) de géolocalisation de distributeurs de billets
        dt
            a( href="http://egzago.com" rel="external" title="Visiter le site d'egzagò" ) egzagò
        dd Jeux Mobile (iOS / Swift)
