section#projects
    h2
        include ../../svg/icons/projects.svg
        = " "
        | Projets Personnels

    dl
        dt
            a( href="http://kouto-swiss.io" rel="external" title="Visiter le site de Kouto Swiss" ) Kouto Swiss
        dd Framework Open-Source pour Stylus
        dt
            a( href="http://teseve.github.io" rel="external" title="Visiter le site de Tèsèvè" ) Tèsèvè
        dd Utilitaire Open-Source multiplateforme (Electron)
        dt
            a( href="http://egzago.com" rel="external" title="Visiter le site d'egzagò" ) egzagò
        dd Jeux Mobile (iOS / Swift)
        dt et plein d'autres :
        dd
            ul
                li
                    a( href="https://github.com/leny?tab=repositories" rel="external" title="Mes repositories sur GitHub" ) sur GitHub
                li
                    a( href="https://www.npmjs.com/~leny" rel="external" title="Mes packages sur npm" ) sur npm
                li
                    a( href="https://atom.io/users/leny/packages" rel="external" title="Mes packages pour Atom" ) sur Atom
