section#skills
    h2
        include ../../svg/icons/skills.svg
        = " "
        | Compétences

    h3 Langages
    dl
        dt Expert javascript
        dd.
            ES5, ES2015+#[br/]
            node.js (server, CLI, tools)#[br/]
            react/flux/redux, angular, ember, vue#[br/]
            #[abbr( title="Document Object Model" ) DOM], APIs HTML5 (canvas, geolocalisation, #[abbr( title="Server-Sent Events" ) SSE], storage, …)#[br/]
            jQuery, AJAX/AJAJ, underscorejs/lodash, CoffeeScript
        dt.
            Spécialiste standards #[abbr( title="World Wide Web Consortium" ) W3C] / #[abbr( title="Web Hypertext Application Technology Working Group" ) WHATWG]
        dd.
            #[abbr( title="Hypertext Markup Language" ) html] 5,
            #[abbr( title="eXtended Hypertext Markup Language" ) xhtml],
            #[abbr( title="Cascading Stylesheet" ) css],
            #[abbr( title="eXtended Markup Language" ) xml],
            #[abbr( title="eXtensible Stylesheet Language" ) xsl], xpath,
            #[abbr( title="Web Accessibility Initiative" ) wai],
            #[abbr( title="Scalable Vector Graphics" ) svg]
        dt Spécialiste performances web
        dd server-side, client-side
        dt Front-end
        dd html5, xhtml, css3, stylus, sass/compass, javascript, json, xml, xsl(t), RegExp
        dt Back-end
        dd node.js (express, sockets.io, …), nosql (Redis, MongoDB), GraphQL, MySQL, PostgreSQL, ElasticSearch
        dt Application
        dd iOS natif (Swift)
        dt Système
        dd bash, python, go-lang

    h3 Outils &amp; Méthodologies
    dl
        dt Adobe Creative Suite CC
        dd photoshop, illustrator, indesign, flash, edge tools
        dt Apple Pro Apps
        dd Logic Pro 8, Final Cut Pro X, XCode 4+
        dt Text Editors &amp; IDE
        dd Vim, Atom, Sublime Text 2 &amp; 3, Eclipse &amp; flex builder
        dt Task runners and workflow control
        dd Webpack, GruntJS, GulpJS, Codekit, Vagrant, docker
        dt Virtualisation, containers &amp; provisioning
        dd docker &amp; docker-compose, Vagrant, Chef, Puppet
        dt Version Control
        dd.
            git,
            #[abbr( title="Subversion" ) SVN],
            #[abbr( title="Mercurial" ) hg]
        dt Méthodologies
        dd.
            Scrum,
            #[abbr( title="Get Things Done" ) GTD],
            #[abbr( title="eXtreme Programming" ) XP]

    h3 Systèmes
    dl
        dt Mac OSX
        dd 10.6~11, 10.12 (système principal)
        dt Linux
        dd debian-based, shell (bash/zsh, automation), nginx &amp; apache fine-tuning, administration serveurs web
