/* DELNATTE Pierre-Antoine - Webdeveloper
 *
 * STYLUS/CSS Document - /assets/stylus/styles.styl
 *
 * coded by Pierre-Antoine Delnatte
 *
 * original styles in june 2012
 * responsive styles in july 2012
 * rewriten as mobile-first with sass/compass in march 2013
 * updates & bugfix in november 2013
 * new desktop styles in january 2014
 * rewriten with stylus/kouto-swiss in may 2014
 * fix code for stylus/kouto-swiss update in september 2014
 * fix code using normalize instead of reset in february 2015
 * new design in march 2016
 */

// imports
@import "kouto-swiss"

// resets
normalize()
box-sizing-reset()

// fonts
font-face( "SourceSansPro", "./fonts/source-sans/SourceSansPro-Regular-webfont", formats: local eot woff truetype svg )
SourceSansPro = "SourceSansPro", font-stack( "Helvetica" )

// vars
textColor = #000
linkColor = tint( #33a, 25% )
linkHoverColor = tint( #33a, 50% )

ks-color-fallback-enabled = true

// ----- commons


:focus
    outline: 0

a
    color: linkColor
    text-decoration: none
    transition: color .25s ease-in-out
    svg
        g
            fill: textColor
            transition: fill .25s ease-in-out
    &:hover
        color: linkHoverColor
        svg
            g
                fill: linkHoverColor

abbr[title]
    position: relative
    border-bottom: 0
    cursor: help
    &:after
        content: ""
        display: block
        absolute: auto 0 .2rem
        size: auto 0
        border-bottom: .1rem dotted linkColor

// ----- layout

html
    height: 100%
    font: normal 62.5%/1.5 SourceSansPro
    -webkit-font-smoothing: antialiased
    -webkit-text-size-adjust: 100%

body
    position: relative
    display: flex
    width: 100%
    min-height: 100%
    color: textColor


main
    width: 90%
    margin: 0 auto
    padding-top: 2.4rem

// ----- head

header
    margin: 0 auto 2.4rem

h1
    margin: 0 auto 2.4rem
    strong
        display: block
        margin: 0 auto 1rem
        padding-bottom: 1rem
        border-bottom: .1rem solid tint( textColor, 50% )
    svg
        display: block
        margin: 0 auto
        &[id="function"]
            width: 45%
            margin-right: 0

svg[id="leny-icon"]
    display: block
    margin: 0 auto 2rem
    size: 4.8rem

section
    margin: 0 auto 3.6rem

    h2
        position: relative
        margin: 0 auto 3.2rem
        padding-bottom: .25rem
        border-bottom: .1rem solid tint( textColor, 50% )
        font-size: 2.4rem
        text-align: right
        svg
            absolute: 50% auto auto 0
            size: 2.4rem
            transform: translateY( -50% )

    > h3
        margin: 0 auto 2.4rem
        font-size: 2rem
        text-align: center
        &:before, &:after
            content: ""
            display: inline-block
            margin: 0 .5rem
            size: 2rem .1rem
            background: tint( textColor, 33% )
            vertical-align: middle

ol
    list-style: none
    margin: 0
    padding: 0
    li
        margin: 0 auto 3.6rem
        h3
            margin: 0 auto 1rem
            font-size: 2rem
        p
            margin: 0 auto .7rem
            font-size: 1.6rem


// ----- section:identity

section[id="identity"]
    h2
        display: none
    dl
        margin: 0
        font-size: 1.6rem
        dt
            display: inline
            font-size: 0
            &.icon
                svg
                    display: inline-block
                    size: 1.6rem
                    margin-right: 1.2rem
                    vertical-align: -.3rem
                    > g
                    > path
                        fill: linkColor
        dd
            display: inline
            margin: 0
            &[data-prefix]:before
                content: attr(data-prefix) " "
            &:after
                content: ""
                display: block;
                size: 100% .1rem
                margin: 0 0 1.1rem

// ----- content

// ----- section:education

section[id="education"]
    ol
        li
            boxWidth = 15rem
            boxHeight = 1.8rem
            boxMargin = .8rem
            position: relative
            margin: 0 auto 3.2rem
            padding-left: ( boxHeight + boxMargin )
            .time
                absolute: 0 auto 0 ( -1 * ( boxWidth + boxMargin * 3 / 4 ) )
                size: boxWidth boxHeight
                padding: 0 .8rem
                font-size: 1.6rem
                color: tint( textColor, 25% )
                text-align: right
                transform: rotate( -90deg )
                transform-origin: top right

// ----- section:experience

section[id="experience"]
    ol
        li
            position: relative
            padding: 4.2rem 0 0
            h3
                width: 100%
            .details
                width: 100%
                margin: 0 auto .7rem
                font-size: 1.6rem
                svg
                    display: inline-block
                    size: 1.2rem
                    margin-right: .5rem
                    vertical-align: -.1rem
                strong
                    display: block
            .time
                position: absolute
                top: .7rem
                left: 50%
                padding: .2rem .6rem 0
                background: tint( mix( textColor, linkColor ), 50% )
                font-size: 1.2rem
                color: invert( textColor )
                text-align: center
                text-transform: uppercase
                white-space: nowrap
                transform: translateX( -50% )
                &:before, &:after
                    content: ""
                    display: block
                    position: absolute
                    top: 50%
                    size: 2rem .1rem
                    background: tint( mix( textColor, linkColor ), 50% )
                    vertical-align: middle
                &:before
                    left: -3rem
                &:after
                    right: -3rem
            ul
                padding-left: 2rem
                li
                    margin: 0 auto .7rem
                    padding: 0
                    font-size: 1.6rem
            p:last-child
                color: tint( textColor, 50% )
                svg
                    display: inline-block
                    size: 1.1rem
                    margin-right: .25rem
                    g
                        fill: tint( textColor, 50% )

section[id="skills"], section[id="languages"]
    dl
        margin: 0 auto 3.2rem
        font-size: 1.6rem
        dt
            margin: 0 auto .66rem
            font-weight: bold
            font-size: 1.8rem
        dd
            margin: 0 auto 1.6rem

section[id="misc"]
    h3
        margin: 0 auto 1.2rem
        font-size: 1.8rem
        color: tint( textColor, 25% )
        text-align: left
        &:before, &:after
            content: none
        svg
            display: inline-block
            size: 1.8rem
            margin-right: .6rem
            vertical-align: -.2rem
            g
                fill: tint( textColor, 25% )
    p
        margin: 0 auto 1.6rem
        font-size: 1.6rem

+media-query( screen, min-width 640px )
    main
        position: relative
        width: 90%
        margin: 0 auto
        padding: 8.1rem 0 18rem 28.5rem

    .head
        fixed: 2.5rem auto auto 50%
        width: 25rem
        margin-left: -45%

    section
        margin: 0 auto 9.6rem

+media-query( screen, min-width 960px )
    main
        padding-top: 15.6rem

    .head
        top: 10rem

    .content
        absolute: 0 0 0 28.5rem

    .col-two
        absolute: 0 auto 0 0
        size: 46% auto
        padding: 15.6rem 0
        overflow: scroll
        & + .col-two
            absolute: 0 0 0 auto
            margin-left: 8%

+media-query( screen, min-width 1280px )
    colAmount = 3
    colGap = 4%
    colSize = ( ( 100 - ( colAmount - 1 ) * colGap ) / colAmount )

    .col-two
        width: colSize
        & + .col-two
            width: ( 100 - colGap - colSize )
            margin-left: colGap
            overflow: visible

    colSubGap = ( colGap * colAmount / ( colAmount - 1 ) )

    .col-three
        absolute: 0 auto 0 0
        width: ( ( 100 - colSubGap ) / ( colAmount - 1 ) )
        padding: 15.6rem 0
        overflow: scroll
        & + .col-three
            absolute: 0 0 0 auto
            margin-left: colSubGap

+media-query( screen, min-width 1520px )
    main
        width: 140rem

    .head
        margin-left: -70rem

    colAmount = 4
    colGap = 2.5%
    colSize = ( ( 100 - ( colAmount - 1 ) * colGap ) / colAmount )

    .col-two
        width: colSize
        & + .col-two
            width: ( 100 - colGap - colSize )
            margin-left: colGap

    colSubGap = ( colGap * colAmount / ( colAmount - 1 ) )
    colSubSize = ( ( 100 - ( ( colAmount - 2 ) * colSubGap ) ) / ( colAmount - 1 ) )

    .col-three
        width: colSubSize
        & + .col-three
            width: ( 100 - colSubGap - colSubSize )
            margin-left: colSubGap
            overflow: visible

    colSubSubGap = ( colSubGap * ( colAmount - 1 ) / ( colAmount - 2 ) )
    colSubSubSize = ( ( 100 - ( ( colAmount - 3 ) * colSubSubGap ) ) / ( colAmount - 2 ) )

    .col-four
        absolute: 0 auto 0 0
        width: colSubSubSize
        padding: 15.6rem 0
        overflow: scroll
        & + .col-four
            absolute: 0 0 0 auto
            margin-left: colSubSubGap
