/* DELNATTE Pierre-Antoine - Webdeveloper
 *
 * STYLUS/CSS Document - /assets/stylus/styles.styl
 *
 * coded by Pierre-Antoine Delnatte
 *
 * original styles in june 2012
 * responsive styles in july 2012
 * rewriten as mobile-first with sass/compass in march 2013
 * updates & bugfix in november 2013
 * new desktop styles in january 2014
 * rewriten with stylus/kouto-swiss in may 2014
 * fix code for stylus/kouto-swiss update in september 2014
 * fix code using normalize instead of reset in february 2015
 * new design (& flexbox adaptation) in march 2016
 */

// imports
@import "kouto-swiss"

// resets
normalize()

// fonts
font-face( "Source Sans Pro", "./fonts/source-sans/SourceSansPro-Regular-webfont", formats: eot woff truetype svg )
SourceSansPro = "Source Sans Pro", font-stack( "Helvetica" )

// vars
textColor = #000
linkColor = tint( #33a, 25% )
linkHoverColor = tint( #33a, 50% )

ks-color-fallback-enabled = true

// ----- commons


:focus
    outline: 0

a
    color: linkColor
    text-decoration: none
    transition: color .25s ease-in-out
    svg
        g
            fill: textColor
            transition: fill .25s ease-in-out
    &:hover
        color: linkHoverColor
        svg
            g
                fill: linkHoverColor

// ----- layout

html
    height: 100%
    font: normal 62.5%/1.5 SourceSansPro
    -webkit-font-smoothing: antialiased
    -webkit-text-size-adjust: 100%

body
    position: relative
    display: flex
    width: 100%
    min-height: 100%
    color: textColor


main
    width: 90%
    margin: 0 auto
    padding-top: 2.4rem

// ----- head

.head // TMP?
    color: black

header
    margin: 0 auto 2.4rem

h1
    margin: 0 auto 2.4rem
    strong
        display: block
        margin: 0 auto 1rem
        padding-bottom: 1rem
        border-bottom: .1rem solid tint( textColor, 50% )
    svg
        display: block
        margin: 0 auto
        &[id="function"]
            width: 45%
            margin-right: 0

svg[id="leny-icon"]
    display: block
    margin: 0 auto 2rem
    size: 4.8rem

section
    margin: 0 auto 3.6rem

    h2
        position: relative
        margin: 0 auto 3.2rem
        padding-bottom: .75rem
        border-bottom: .1rem solid tint( textColor, 33% )
        font-size: 2.4rem
        text-align: right
        svg
            absolute: 50% auto auto 0
            size: 2.4rem
            transform: translateY( -50% )

    > h3
        margin: 0 auto 2.4rem
        font-size: 2rem
        text-align: center
        &:before, &:after
            content: ""
            display: inline-block
            margin: 0 1rem
            size: 2rem .1rem
            background: tint( textColor, 33% )
            vertical-align: middle

ol
    list-style: none
    margin: 0
    padding: 0
    li
        margin: 0 auto 3.2rem
        h3
            margin: 0 auto 1rem
            font-size: 1.8rem
        p
            margin: 0 auto .7rem
            font-size: 1.4rem


// ----- section:identity

section[id="identity"]
    h2
        display: none
    dl
        margin: 0
        font-size: 1.6rem
        dt
            display: inline
            font-size: 0
            &.icon
                svg
                    display: inline-block
                    size: 1.6rem
                    margin-right: 1.2rem
                    vertical-align: -.3rem
                    g
                        fill: linkColor
        dd
            display: inline
            margin: 0
            &[data-prefix]:before
                content: attr(data-prefix) " "
            &:after
                content: ""
                display: block;
                size: 100% .1rem
                margin: 0 0 1.1rem


// ----- nav

nav
    display: none

// ----- content

// ----- section:education

section[id="education"]
    ol
        li
            boxWidth = 15rem
            boxHeight = 1.8rem
            boxMargin = .8rem
            position: relative
            margin: 0 auto 3.2rem
            padding-left: ( boxHeight + boxMargin )
            .time
                absolute: 0 auto 0 ( -1 * ( boxWidth + boxHeight ) )
                size: boxWidth boxHeight
                padding: 0 .8rem
                font-size: 1.6rem
                color: tint( textColor, 25% )
                text-align: right
                transform: rotate( -90deg )
                transform-origin: top right

// ----- section:experience

section[id="experience"]
    ol
        li
            display: flex
            flex-direction: column
            overflow: hidden
            h3, p
                width: 100%
            h3 + p
                svg
                    display: inline-block
                    size: 1.2rem
                    margin-right: .5rem
                    vertical-align: -.1rem

            .time
                position: relative
                flex: 0 0 auto
                order: -1
                margin: 0 auto 1.5rem
                padding: .2rem .6rem 0
                background: tint( mix( textColor, linkColor ), 50% )
                font-size: 1.1rem
                color: invert( textColor )
                text-align: center
                text-transform: uppercase
                &:before, &:after
                    content: ""
                    display: block
                    position: absolute
                    top: 50%
                    size: 2rem .1rem
                    background: tint( mix( textColor, linkColor ), 50% )
                    vertical-align: middle
                &:before
                    left: -3rem
                &:after
                    right: -3rem
            p:last-child
                color: tint( textColor, 50% )
                svg
                    display: inline-block
                    size: 1.1rem
                    margin-right: .25rem
                    g
                        fill: tint( textColor, 50% )
