doctype html
html( lang="fr_BE" )
    head
        meta( charset="UTF-8" )/
        title Delnatte Pierre-Antoine - Webdeveloper

        meta( name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0" )/

        link( rel="stylesheet", href="assets/styles.css" )/

        // Twitter Card
        meta( property="twitter:card", content="summary" )/
        meta( property="twitter:title", content="Delnatte Pierre-Antoine - Webdeveloper" )/
        meta( property="twitter:description", content="C.V. en ligne de Pierre-Antoine &quot;Leny&quot; Delnatte, Développeur web Belge" )/
        meta( property="twitter:image", content="http://pierre-antoine.delnatte.be/assets/me.jpg" )/
        meta( property="twitter:creator", content="@leny_be" )/

        //if lt IE 9
            script( src="http://html5shiv.googlecode.com/svn/trunk/html5.js" )

    body
        article
            header
                h1
                    | DELNATTE
                    br/
                    = " "
                    | Pierre-Antoine
                h2 Webdeveloper

            figure
                img( alt="Pierre-Antoine Delnatte", src="assets/me.jpg" )/
                figcaption 2012

            section#identite
                p Né le 8 mai 1985
                address
                    p Résidant à Liège, Belgique
                p
                    strong Mail:
                    = " "
                    a( href="mailto:pierre-antoine@delnatte.be" ) pierre-antoine@delnatte.be
                p
                    strong URL:
                    = " "
                    a( href="http://leny.me", rel="external" ) http://leny.me

            section#formation
                h3 Formations

                ol
                    li
                        h4 Bachelor en Techniques Infographiques
                        p Orientation WEB
                        p
                            strong TFE:
                            = " "
                            | fish in a pan, CMS et groupes de musique
                        time( datetime="2004-09-01 - 2007-06-30" ) 2004-2007
                        p
                            abbr( title="Haute École de la Province de Liège" ) HEPL

                    li
                        h4 Psychologie et Sciences de l'Education
                        p Première année
                        time( datetime="2003-09-01 - 2004-06-30" ) 2003-2004
                        p
                            abbr( title="Université de Liège" ) ULg

                    li
                        h4 Humanités générales
                        p Option sciences
                        time( datetime="1997-09-01 - 2003-06-30" ) 1997-2003
                        p
                            abbr( title="Dames de l'Instruction Chrétienne" ) DIC
                            = " "
                            | Collège

                h3 Distinctions

                ol
                    li
                        h4
                            abbr( title="Webdesign Festival International") WIF
                            | - Finale
                        p
                            | 2
                            sup ème
                            = " "
                            | place, catégorie amateurs &amp; étudiants
                        time( datetime="2006-02-01" ) février 2006
                        p
                            abbr( title="Webdesign Festival International" ) WIF
                            |, Limoges, France
                    li
                        h4
                            abbr( title="Webdesign Festival International" ) WIF
                            | - Préselections Nationales Belges
                        p
                            | 1
                            sup ère
                            = " "
                            | place, catégorie amateurs &amp; étudiants
                        time( datetime="2005-11-01" ) novembre 2005
                        p
                            abbr( title="Webdesign Festival International" ) WIF
                            |, Limoges, France

            section#parcours
                h3 Parcours

                ol
                    li
                        h4
                            a( href="http://krkn.be", rel="external" ) KRKN
                        p
                            strong Co-Founder
                            br/
                            | Développement web &amp; app, expertise &amp; sous-traitance
                        time( datetime="2014-05-01" ) mai 2014 - …
                        p Liège, Belgique

                    li
                        h4
                            a( href="http://flatland.be", rel="external" ) flatLand!
                        p
                            strong Founder
                            br/
                            | Développement web freelance &amp; sous-traitance
                        time( datetime="2011-11-05" ) novembre 2011 - …
                        p Liège, Belgique

                    li
                        h4
                            a( href="http://www.hepl.be", rel="external" ) Haute École de la Province de Liège
                        p
                            strong Prof. Invité
                            br/
                            | Cours de RIA à destination des 3
                            sup ème
                            = " "
                            | années
                        time( datetime="2011-10-02" ) octobre 2012 - …
                        p Liège, Belgique

                    li
                        h4
                            a( href="http://www.id-co.be", rel="external" ) ID&amp;CO
                        p
                            strong Design &amp; Dev Web, maintenance technique
                            br/
                            | Sites clients, CMS maison &amp; outils internes
                        time( datetime="2011-11 - 2013-03" ) novembre 2011 - mars 2013
                        p Tournai, Belgique

                    li
                        h4
                            a( href="http://www.ankama.com", rel="external" ) Ankama Studio
                        p
                            strong Intégrateur RIA Flash
                            br/
                            | Jeux Boufbowl &amp; TCG Online
                        time( datetime="2009-06 - 2010-08" ) septembre 2010 - octobre 2011
                        p Roubaix, France

                    li
                        h4
                            a( href="http://www.ankama.com", rel="external" ) Ankama Games
                        p
                            strong Développeur web (php &amp; flash), intégrateur
                            br/
                            | Sites divers &amp; outils internes
                        time( datetime="2009-06 - 2010-08" ) juin 2009 - août 2010
                        p Roubaix, France

                    li
                        h4
                            a( href="http://www.com2b.be", rel="external" ) COM2B Networks
                        p
                            strong Développeur web (php &amp; flash), intégrateur
                            br/
                            | Sites divers &amp; outils clients
                        time( datetime="2008-12 - 2009-06" ) décembre 2008 - juin 2009
                        p Bruxelles, Belgique

                    li
                        h4
                            a( href="http://www.newedge.be", rel="external" ) New Edge Concept
                        p
                            strong Développeur web (php), intégrateur &amp; designer web
                            br/
                            | Sites divers &amp; CMS maison
                        time( datetime="2007-10 - 2008-11" ) octobre 2007 - novembre 2008
                        p Liège, Belgique

                    li
                        h4
                            a( href="http://www.valain.com", rel="external" ) VAlain S.A.
                        p
                            strong Développeur Web (php)
                            br/
                            | Outils clients
                        p Stage de fin d'études &amp; job étudiant
                        time( datetime="2007-04 - 2007-07" ) avril - juillet 2007
                        p Wiltz, Luxembourg

            section#competences
                h3 Compétences

                h4 Langages
                dl
                    dt Spécialiste javascript
                    dd
                        abbr( title="Document Object Model" ) DOM
                        | , APIs HTML5 (canvas, geolocalisation,
                        abbr( title="Server-Sent Events" ) SSE
                        | , storage, …), node.js, jQuery, jQuery UI, AJAX/AJAJ, prototype, mootools, backbone, underscorejs, CoffeeScript
                    dt
                        | Spécialiste standards
                        abbr( title="World Wide Web Consortium" ) W3C
                        = " "
                        | /
                        = " "
                        abbr( title="Web Hypertext Application Technology Working Group" ) WHATWG
                    dd
                        abbr( title="Hypertext Markup Language" ) html
                        = " "
                        | 5,
                        = " "
                        abbr( title="eXtended Hypertext Markup Language" ) xhtml
                        | ,
                        = " "
                        abbr( title="Cascading Stylesheet" ) css
                        | ,
                        = " "
                        abbr( title="eXtended Markup Language" ) xml
                        | ,
                        = " "
                        abbr( title="eXtensible Stylesheet Language" ) xsl
                        | , xpath,
                        = " "
                        abbr( title="Web Accessibility Initiative" ) wai
                        | ,
                        = " "
                        abbr( title="Scalable Vector Graphics" ) svg
                    dt Spécialiste performances web
                    dd server-side, client-side
                    dt Client
                    dd html5, xhtml, css3, stylus, sass/compass, less, javascript, json, xml, xsl, RegExp
                    dt Serveur
                    dd node.js (express, sockets.io, …), nosql (Redis, MongoDB), PHP 5.4+ &amp; POO, MySQL 5, PostgreSQL, xslt, bash
                    dt Flash Platform
                    dd actionscript 2&amp;3, flex 4.5, air 3
                    dt Application
                    dd phonegap/cordova, TitaniumJS, AIR

                h4 Outils &amp; Méthodologies
                dl
                    dt Adobe Creative Suite 5, 6 &amp; CC
                    dd photoshop, illustrator, indesign, flash, edge tools
                    dt Apple Pro Apps
                    dd Logic Pro 8, Final Cut Pro X, XCode 4+
                    dt Text Editors &amp; IDE
                    dd Sublime Text 2 &amp; 3, Eclipse &amp; flex builder
                    dt Version Control
                    dd
                        abbr( title="Subversion" ) SVN
                        | ,
                        = " "
                        abbr( title="Mercurial" ) hg
                        | , git
                    dt Méthodologies
                    dd
                        | Scrum,
                        = " "
                        abbr( title="Get Things Done" ) GTD
                        | ,
                        = " "
                        abbr( title="eXtreme Programming" ) XP

                h4 Systèmes
                dl
                    dt Mac OSX
                    dd 10.6, 10.7, 10.8, 10.9 (système principal)
                    dt Windows
                    dd xp, vista, seven, 8, 8.1
                    dt Linux
                    dd debian-based, shell, nginx &amp; apache fine-tuning, administration serveurs web

            section#presentation
                h3 Langues
                dl
                    dt Français
                    dd Langue maternelle, maîtrise de l'orthographe et de la grammaire
                    dt Anglais
                    dd Connaissances moyennes, compréhension à la lecture, maîtrise du langage technique
                    dt Néérlandais
                    dd Bases

                h3 Motorisation
                p Permis B en cours d'obtention, maîtrise de la marche à pieds et des transports en commun

                h3 Centres d'intérêt
                p Musique (composition, écoute), nouvelles technologies, contributions open-source, actualités, littérature, contre-culture
